.container{
  display: flex;
  background-color: beige;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.container .lefty{
  background-color: none;
  padding: 6px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.container .logo{
  color: red;
  background-color: white;
  font-size: 48px;
  padding: 8px;
  justify-content: space-around;
}


.container ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
}
